sourceSummaries.fdb_latexmk
sourceSummaries.aux
sourceSummaries.fls
sourceSummaries.log
sourceSummaries.synctex.gz
sourceSummaries.toc
sourceSummaries.bbl
sourceSummaries.blg
references.bib.aux
.gitignore
sourceSummaries.pdf