language: ruby
os: linux
dist: trusty
before_install:
- sudo apt-get -qq update && sudo apt-get install -y --no-install-recommends texlive-latex-base texlive-bibtex-extra texlive-latex-extra
script:
- pdflatex -interaction=nonstopmode -halt-on-error *.tex
- bibtex sourceSummaries.aux
- pdflatex -interaction=nonstopmode -halt-on-error *.tex
- pdflatex -interaction=nonstopmode -halt-on-error *.tex